<div class="ui celled grid">
    <div class="row">
        <div class="three wide column">
            <!-- サイドバー トグルボタン -->
            <div class="ui fixed menu">
                <div class="menu">
                    <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
                </div>
            </div>
            <!-- サイドバー -->
            <div class="ui sidebar inverted vertical menu">
                <div class="ui segment">
                    <img class="ui centered medium image" src="/images/top_icon.jpg">
                    <p style="text-align: center">
                        {{ if .Site.Author.name }} Name: {{ .Site.Author.name }} <br>{{ end }}
                        {{ if .Site.Author.location }} Place: {{ .Site.Author.location }}<i class="{{ .Site.Author.location | urlize }} flag"></i>{{ end }}
                    </p>
                </div>

                <a class="item" href={{ .Site.BaseURL }}>TOP PAGE</a>
                {{ range .Site.RegularPages }}
                    <a class="item" href={{ .Permalink }}>{{ .Name }}</a>
                {{ end }}
            </div>
        </div>

        <!-- <div class="thirteen wide column">
            <p>{{ .Site.Title }}</p>
        </div> -->
    </div>
</div>