{{ define "main" }}

<div class="ui stackable grid">
  <div class="one wide column"></div> <!-- 幅調整カラム -->
  <div class="four wide celled column">
    <img class="ui centered medium image" src="{{ "/images/top_icon.jpg" | relURL }}">
    <p style="text-align: center"><font size="6">
      <br>
      {{ if .Site.Author.name }} {{ .Site.Author.name }} <br><br>{{ end }}
      {{ if .Site.Author.location }} {{ .Site.Author.location }} {{ end }}
    </font></p>
    <center><div class="fa-3x bgc">
      {{ range .Site.Params.Shortcuts }}
        <a href="{{ .Url }}" target="_blank">{{ .Shortcuts_tag | safeHTML }}</a>
      {{ end }}
    </div></center>
  </div>

  <div class="ten wide column">
    <h1 id="biography">Biography</h1>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </h3>
  </div>
  <div class="one wide column"></div> <!-- 幅調整カラム -->
</div>

<br>

{{ if .Site.Params.Github_acount.name }}
  <br><br><br>
  <!-- show your Github Repos -->
  {{ $github_acount_name := ( .Site.Params.Github_acount.name )}}
  {{ $git_repos:= getJSON "https://api.github.com/users/" $github_acount_name "/repos" }}

  <div class="ui stackable grid">
    <div class="one wide column"></div> <!-- 幅調整カラム -->
    
    <div class="fifteen wide column">
      <h2>Github Repositories</h2>
      <div class="ui cards">
      {{ range $i, $v := sort $git_repos "stargazers_count" "desc" }}
        {{ if lt $i 12 }}
        <a class="ui card" href="{{ .html_url }}" target="_blank">
          <div class="content">
            <div class="header">
              {{ .name }} <i class="fas fa-star"></i>{{ .stargazers_count }}
            </div>

            {{ if eq ( .description ) nil }}
              <div class="description">No Description</div>
            {{ else }}
              <div class="description">{{ .description }}</div>
            {{ end }}

            {{ if eq ( .fork ) true }}
              <div class="ui bottom right attached blue label">Forked</div>  
            {{ else }}
              <div class="ui bottom right attached orange label">Original</div>  
            {{ end }}
          </div>
        </a>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>

  <br><br><br>
  
  <!-- generated by https://grass-graph.appspot.com/ -->
  <center>
    <h2>Github Contributions</h2><br>
    <img src="https://grass-graph.appspot.com/images/{{ .Site.Params.Github_acount.name }}.png">
  </center>
{{ end }}

<br><br><br>

<div class="ui stackable grid">
  <div class="one wide column"></div> <!-- 幅調整カラム -->
  <div class="five wide column">
    <h2>Site Contents</h2>
    {{ range .Site.RegularPages }}
      <div class="ui divided items">
        <div class="middle aligned content">
          <h3><a class="item" href={{ .Permalink }}>{{ .Name }}</a></h3>
        </div>
      </div>
    {{ end }}
  </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{{ end }}