{{ define "main" }}

<div id="vanta_birds"></div>

<div class="ui stackable grid">
  <div class="one wide column"></div> <!-- 幅調整カラム -->
  <div class="four wide celled column">
    <img class="ui centered medium image" src="{{ "/images/top_icon.jpg" | relURL }}">
    <p style="text-align: center"><font size="6">
      <br>
      {{ if .Site.Author.name }} {{ .Site.Author.name }}<br><br>{{ end }}
      {{ if .Site.Author.location }} {{ .Site.Author.location }}{{ end }}
    </font></p>

    <!-- Icons -->
    {{ if .Site.Menus.icon }}
    <center><div class="fa-3x bgc">
        {{ range sort .Site.Menus.icon }}
            {{ if eq (.Name) "blog" }}
                <a href="{{ .URL }}" target="_blank"><i class="fas fa-{{ .Name }} fa-fw icon_black faa-tada animated-hover"></i></a>
            {{ else }}
                <a href="{{ .URL }}" target="_blank"><i class="fab fa-{{ .Name }} fa-fw icon_black faa-tada animated-hover"></i></a>
            {{ end }}
        {{ end }}
    </div></center>
    {{ end }}

  </div>

  <div class="ten wide column">
    <h1 id="biography">Biography</h1>
    <h3>
      {{ if .Site.Params.top_page.bio }}
        {{ .Site.Params.top_page.bio }}
      {{ else }}
        No Description
      {{ end }}
    </h3>

    <br>

    <div class="ui equal width grid">
      {{ if .Site.Params.top_page.interests }}
        <div class="column">
          <h2 id="interests"><i class="fa-solid fa-file-pen"></i> Interests</h2>
          <ul>
            {{ range $v := .Site.Params.top_page.interests }}
              <li><h3>{{ $v }}</h3></li>{{ end }}
          </ul>
        </div>
      {{ end }}

      {{ if .Site.Params.top_page.skillsets }}
        <div class="column">
          <h2 id="skillsets"><i class="fa-brands fa-sketch"></i> Skillsets</h2>
          <ul>
            {{ range $v := .Site.Params.top_page.skillsets }}
              <li><h3>{{ $v }}</h3></li>{{ end }}
          </ul>
        </div>
      {{ end }}
    </div>

    
  </div>
  <div class="one wide column"></div> <!-- 幅調整カラム -->
</div>

<br>



{{ .Content }}


{{ if .Site.Params.top_page.github_name }}
  <br><br><br>
  <!-- show your Github Repos -->
  {{ $github_acount_name := ( .Site.Params.top_page.github_name )}}
  {{ $git_repos:= getJSON "https://api.github.com/users/" $github_acount_name "/repos" }}

  {{ if eq ( .Site.Params.top_page.show_repositories ) true }}
    <div class="ui stackable grid">
      <div class="one wide column"></div> <!-- 幅調整カラム -->
      
      <div class="fifteen wide column">
        <h2>Github Repositories</h2>
        <div class="ui cards">
        {{ range $i, $v := first ( .Site.Params.top_page.n_repositories ) (sort $git_repos "stargazers_count" "desc") }}
          <a class="ui card" href="{{ .html_url }}" target="_blank">
            <div class="content">
              <div class="header">
                {{ .name }} <i class="fas fa-star"></i>{{ .stargazers_count }}
              </div>

              {{ if eq ( .description ) nil }}
                <div class="description">No Description</div>
              {{ else }}
                <div class="description">{{ .description }}</div>
              {{ end }}

              {{ if eq ( .fork ) true }}
                <div class="ui bottom right attached blue label">Forked</div>  
              {{ else }}
                <div class="ui bottom right attached orange label">Original</div>  
              {{ end }}
            </div>
          </a>
        {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  <br><br><br>
  
    <!-- generated by https://grass-graph.appspot.com/ -->
    {{ if eq ( .Site.Params.top_page.show_contributions ) true }}
    <center>
      <h2>Github Contributions</h2><br>
      <img src="https://grass-graph.appspot.com/images/{{ .Site.Params.top_page.github_name }}.png">
    </center>
    {{ end }}
{{ end }}

<br><br><br>

<div class="ui stackable grid">
  <div class="one wide column"></div> <!-- 幅調整カラム -->
  <div class="five wide column">
    <h2>Site Contents</h2>
    {{ range .Site.Sections }}
      <div class="ui divided items">
        <div class="middle aligned content">
          <h3><a class="item" href={{ .Permalink }}>{{ .Name }}</a></h3>
        </div>
      </div>
    {{ end }}
  </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{{ end }}